<%= form_for(@transito) do |f| %>
  <% if @transito.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transito.errors.count, "error") %> prohibited this transito from being saved:</h2>

      <ul>
      <% @transito.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :producto_id %><br />
    <%= f.collection_select :producto_id, Producto.all, :id, :nombre %>
  </div>
  <div class="field">
    <%= f.label :asesor_id %><br />
    <%= f.collection_select :asesor_id, Asesor.all, :id, :nombre %>
  </div>
  <div class="field">
    <%= f.label :cantidad %><br />
    <%= f.number_field :cantidad, :min=>0, :value=>1 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
