<h1>Productos en tránsito</h1>

</br>

<table>
  <tr>
    <th>Producto</th>
    <th>Asesor</th>
    <th>Cantidad</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @transitos.each do |transito| %>
  <tr>
    <td><%= transito.producto.nombre %></td>
    <td><%= transito.asesor.nombre %></td>
    <td><%= transito.cantidad %></td>
    <td><%= link_to 'Mostrar', transito %></td>
    <td><%= link_to 'Editar', edit_transito_path(transito) %></td>
    <td><%= link_to 'Eliminar', transito, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Agregar producto', new_transito_path %>
