<h1>Productos en tránsito</h1>

</br>

<%= form_tag buscartransito_path do %>
<table>
  <tr>
    <td>
      <b>Asesor:</b>
    </td>
    <td>
      <%= text_field_tag :asesor, params[:asesor] %>
    </td>
  </tr>

  <tr>
    <td>
      <b>Libro:</b>
    </td>
    <td>
      <%= text_field_tag :producto, params[:producto] %>
    </td>
  </tr>

  <tr>
    <td>
      <%= submit_tag "Buscar" %>
    </td>
  </tr>
</table>
<%end%>

</br>

<table>
  <tr>
    <th>Producto</th>
    <th>Asesor</th>
    <th>Cantidad</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @transitos.each do |transito| %>
  <tr>
    <td><%= transito.producto.nombre %></td>
    <td><%= link_to transito.asesor.nombre, transito.asesor %></td>
    <td><%= transito.cantidad %></td>
    <td><%= link_to 'Mostrar', transito %></td>
    <td><%= link_to 'Editar', edit_transito_path(transito) %></td>
    <td><%= link_to 'Eliminar', transito, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Agregar producto', new_transito_path %>
