<p id="notice"><%= notice %></p>

<p>
  <b>Producto:</b>
  <%= @transito.producto_id %>
</p>

<p>
  <b>Asesor:</b>
  <%= @transito.asesor_id %>
</p>

<p>
  <b>Cantidad:</b>
  <%= @transito.cantidad %>
</p>


<%= link_to 'Editar', edit_transito_path(@transito) %> |
<%= link_to 'Atrás', transitos_path %>
