<%= form_for(@gerente_comercial) do |f| %>
  <% if @gerente_comercial.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gerente_comercial.errors.count, "error") %> prohibited this gerente_comercial from being saved:</h2>

      <ul>
      <% @gerente_comercial.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :comision_credito %>(%)<br />
    <%= f.text_field :comision_credito %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
