<%= form_for(@coordinador) do |f| %>
  <% if @coordinador.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@coordinador.errors.count, "error") %> prohibited this coordinador from being saved:</h2>

      <ul>
      <% @coordinador.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :director_comercial_id %><br />
    <%= f.collection_select :director_comercial_id, DirectorComercial.all, :id, :nombre %>
  </div>
  <div class="field">
    <%= f.label :comision_credito %>(%)<br />
    <%= f.text_field :comision_credito %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
