<%= form_for(@director_comercial) do |f| %>
  <% if @director_comercial.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@director_comercial.errors.count, "error") %> prohibited this director_comercial from being saved:</h2>

      <ul>
      <% @director_comercial.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :gerente_comercial_id %><br />
    <%= f.collection_select :gerente_comercial_id, GerenteComercial.all, :id, :nombre %>
  </div>
  <div class="field">
    <%= f.label :comision_credito %>(%)<br />
    <%= f.text_field :comision_credito %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
