<h1>Listing permisos_por_rols</h1>

<table>
  <tr>
    <th>Rol</th>
    <th>Permiso</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @permisos_por_rols.each do |permisos_por_rol| %>
  <tr>
    <td><%= permisos_por_rol.rol_id %></td>
    <td><%= permisos_por_rol.permiso_id %></td>
    <td><%= link_to 'Show', permisos_por_rol %></td>
    <td><%= link_to 'Edit', edit_permisos_por_rol_path(permisos_por_rol) %></td>
    <td><%= link_to 'Destroy', permisos_por_rol, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Permisos por rol', new_permisos_por_rol_path %>
