<h2>Cuotas asignadas a <%=$gestor_de_cobro.nombre%>:</h2>

<table>
  <tr>
    <th>Número Pedido</th>
    <th>Número de Cuota</th>
    <th>Observaciones</th>
    <th></th>
  </tr>

<% $cuotas_asignadas.each do |cuotum| %>
  <tr>
    <td><%= cuotum.pedido.numero_pedido %></td>
    <td><%= cuotum.num_cuota %></td>
    <td><%= cuotum.observaciones %></td>
    <td><%= link_to 'Mostrar', cuotum %></td>
    <td><%= link_to 'Editar', edit_cuotum_path(cuotum) %></td>
    <% if soyAdministrador %>
    <td><%= link_to 'Eliminar', cuotum, confirm: 'Esta seguro?', method: :delete %></td>
    <% end %>
  </tr>
<% end %>

</table>
