<h1>Asesores</h1>

</br>

<table>
  <tr>
    <th>Nombre</th>
    <th>Telefono</th>
    <th>Identidad</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @asesors.each do |asesor| %>
  <tr>
    <td><%= asesor.nombre %></td>
    <td><%= asesor.telefono %></td>
    <td><%= asesor.identidad %></td>
    <td><%= link_to 'Mostrar', asesor %></td>
    <td><%= link_to 'Editar', edit_asesor_path(asesor) %></td>
    <td><%= link_to 'Eliminar', asesor, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Agregar asesor', new_asesor_path %>
