<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @asesor.nombre %>
</p>

<p>
  <b>Identidad:</b>
  <%= @asesor.identidad %>
</p>

<p>
  <b>Moderador:</b>
  <%= @asesor.moderador_id %>
</p>

<p>
  <b>Comision credito(%):</b>
  <%= @asesor.comision_credito %>
</p>

<p>
  <b>Comision contado empresa(%):</b>
  <%= @asesor.comision_contado_empresa %>
</p>

<p>
  <b>Comision contado asesor(%):</b>
  <%= @asesor.comision_contado_asesor %>
</p>


</br>
</br>

<table>
  <tr>
    <th>Asesor</th>
    <th>Evento</th>
    <th>Ciudad</th>
    <th>Fecha evento</th>
    <th>Nombre cliente</th>
    <th>Valor credito</th>
    <th>Abono inicial</th>
    <th>Numero cuotas</th>
    <th>Fecha inicio pago</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% Pedido.where(:asesor_id=>@asesor.id).each do |pedido| %>
  <tr>
    <td><%= link_to pedido.asesor.nombre,pedido.asesor %></td>
    <td><%= pedido.evento %></td>
    <td><%= pedido.ciudad %></td>
    <td><%= pedido.fecha_evento %></td>
    <td><%= pedido.nombre_cliente %></td>
    <td><%= pedido.valor_credito %></td>
    <td><%= pedido.abono_inicial %></td>
    <td><%= pedido.numero_cuotas %></td>
    <td><%= pedido.fecha_inicio_pago %></td>
    <td><%= link_to 'Mostrar', pedido %></td>
    <%if soyAdministrador %>
    <td><%= link_to 'Editar', edit_pedido_path(pedido) %></td>
    <td><%= link_to 'Eliminar', pedido, confirm: 'Esta seguro?', method: :delete %></td>
    <%end%>
  </tr>
<% end %>
</table>

<%= link_to 'Editar', edit_asesor_path(@asesor) %> |
<%= link_to 'Atrás', asesors_path %>
