<p id="notice"><%= notice %></p>


<!-- Mostrar productos de este cliente -->


<table>
  <tr>
    <th>Producto</th>
    <th>Pedido</th>
    <th>Cantidad</th>
    <th>Precio</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pedido.producto_pedidos.each do |producto_pedido| %>
  <tr>
    <td><%= producto_pedido.producto.nombre %></td>
    <td><%= producto_pedido.pedido_id %></td>
    <td><%= producto_pedido.cantidad %></td>
    <td><%= producto_pedido.precio %></td>
    <td><%= link_to 'Show', producto_pedido %></td>
    <td><%= link_to 'Edit', edit_producto_pedido_path(producto_pedido) %></td>
    <td><%= link_to 'Destroy', producto_pedido, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>


<!---->


<!-- Form para agregar un nuevo producto -->


<% producto_pedido=ProductoPedido.new %>

<%= form_for(producto_pedido) do |f| %>
  <% if producto_pedido.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(producto_pedido.errors.count, "error") %> prohibited this producto_pedido from being saved:</h2>

      <ul>
      <% producto_pedido.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :producto_id %><br />
    <%= f.collection_select :producto_id, Producto.all, :id, :nombre %>
  </div>
  <div class="field">
    <%= f.label :pedido_id %><br />
    <%= f.number_field :pedido_id, :value => @pedido.id %>
  </div>
  <div class="field">
    <%= f.label :cantidad %><br />
    <%= f.number_field :cantidad %>
  </div>
  <div class="field">
    <%= f.label :precio %><br />
    <%= f.text_field :precio %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>








<!---->

<p>
  <b>Asesor:</b>
  <%= @pedido.asesor_id %>
</p>

<p>
  <b>Codificador:</b>
  <%= @pedido.codificador %>
</p>

<p>
  <b>Evento:</b>
  <%= @pedido.evento %>
</p>

<p>
  <b>Ciudad:</b>
  <%= @pedido.ciudad %>
</p>

<p>
  <b>Fecha pedido:</b>
  <%= @pedido.fecha_pedido %>
</p>

<p>
  <b>Nombre cliente:</b>
  <%= @pedido.nombre_cliente %>
</p>

<p>
  <b>Identidad cliente:</b>
  <%= @pedido.identidad_cliente %>
</p>

<p>
  <b>Telefono cliente:</b>
  <%= @pedido.telefono_cliente %>
</p>

<p>
  <b>Celular cliente:</b>
  <%= @pedido.celular_cliente %>
</p>

<p>
  <b>Correo electronico:</b>
  <%= @pedido.correo_electronico %>
</p>

<p>
  <b>Direccion cliente:</b>
  <%= @pedido.direccion_cliente %>
</p>

<p>
  <b>Ciudad cliente:</b>
  <%= @pedido.ciudad_cliente %>
</p>

<p>
  <b>Departamento cliente:</b>
  <%= @pedido.departamento_cliente %>
</p>

<p>
  <b>Trabajo cliente:</b>
  <%= @pedido.trabajo_cliente %>
</p>

<p>
  <b>Cargo cliente:</b>
  <%= @pedido.cargo_cliente %>
</p>

<p>
  <b>Telefono trabajo:</b>
  <%= @pedido.telefono_trabajo %>
</p>

<p>
  <b>Inicio hora contacto:</b>
  <%= @pedido.inicio_hora_contacto %>
</p>

<p>
  <b>Fin hora contacto:</b>
  <%= @pedido.fin_hora_contacto %>
</p>

<p>
  <b>Conyugue:</b>
  <%= @pedido.conyugue %>
</p>

<p>
  <b>Referencia:</b>
  <%= @pedido.referencia %>
</p>

<p>
  <b>Telefono referencia:</b>
  <%= @pedido.telefono_referencia %>
</p>

<p>
  <b>Alumno:</b>
  <%= @pedido.alumno %>
</p>

<p>
  <b>Grado:</b>
  <%= @pedido.grado %>
</p>

<p>
  <b>Jornada:</b>
  <%= @pedido.jornada %>
</p>

<p>
  <b>Valor credito:</b>
  <%= @pedido.valor_credito %>
</p>

<p>
  <b>Abono inicial:</b>
  <%= @pedido.abono_inicial %>
</p>

<p>
  <b>Numero cuotas:</b>
  <%= @pedido.numero_cuotas %>
</p>

<p>
  <b>Valor cuota:</b>
  <%= @pedido.valor_cuota %>
</p>

<p>
  <b>Fecha inicio pago:</b>
  <%= @pedido.fecha_inicio_pago %>
</p>

<p>
  <b>Fecha fin pago:</b>
  <%= @pedido.fecha_fin_pago %>
</p>


<%= link_to 'Edit', edit_pedido_path(@pedido) %> |
<%= link_to 'Back', pedidos_path %>
