<p id="notice"><%= notice %></p>

<p>
  <b>Asesor:</b>
  <%= @pedido.asesor_id %>
</p>

<p>
  <b>Codificador:</b>
  <%= @pedido.codificador %>
</p>

<p>
  <b>Evento:</b>
  <%= @pedido.evento %>
</p>

<p>
  <b>Ciudad:</b>
  <%= @pedido.ciudad %>
</p>

<p>
  <b>Fecha pedido:</b>
  <%= @pedido.fecha_pedido %>
</p>

<p>
  <b>Nombre cliente:</b>
  <%= @pedido.nombre_cliente %>
</p>

<p>
  <b>Identidad cliente:</b>
  <%= @pedido.identidad_cliente %>
</p>

<p>
  <b>Telefono cliente:</b>
  <%= @pedido.telefono_cliente %>
</p>

<p>
  <b>Celular cliente:</b>
  <%= @pedido.celular_cliente %>
</p>

<p>
  <b>Correo electronico:</b>
  <%= @pedido.correo_electronico %>
</p>

<p>
  <b>Direccion cliente:</b>
  <%= @pedido.direccion_cliente %>
</p>

<p>
  <b>Ciudad cliente:</b>
  <%= @pedido.ciudad_cliente %>
</p>

<p>
  <b>Departamento cliente:</b>
  <%= @pedido.departamento_cliente %>
</p>

<p>
  <b>Trabajo cliente:</b>
  <%= @pedido.trabajo_cliente %>
</p>

<p>
  <b>Cargo cliente:</b>
  <%= @pedido.cargo_cliente %>
</p>

<p>
  <b>Telefono trabajo:</b>
  <%= @pedido.telefono_trabajo %>
</p>

<p>
  <b>Inicio hora contacto:</b>
  <%= @pedido.inicio_hora_contacto %>
</p>

<p>
  <b>Fin hora contacto:</b>
  <%= @pedido.fin_hora_contacto %>
</p>

<p>
  <b>Conyugue:</b>
  <%= @pedido.conyugue %>
</p>

<p>
  <b>Referencia:</b>
  <%= @pedido.referencia %>
</p>

<p>
  <b>Telefono referencia:</b>
  <%= @pedido.telefono_referencia %>
</p>

<p>
  <b>Alumno:</b>
  <%= @pedido.alumno %>
</p>

<p>
  <b>Grado:</b>
  <%= @pedido.grado %>
</p>

<p>
  <b>Jornada:</b>
  <%= @pedido.jornada %>
</p>

<p>
  <b>Valor credito:</b>
  <%= @pedido.valor_credito %>
</p>

<p>
  <b>Abono inicial:</b>
  <%= @pedido.abono_inicial %>
</p>

<p>
  <b>Numero cuotas:</b>
  <%= @pedido.numero_cuotas %>
</p>

<p>
  <b>Valor cuota:</b>
  <%= @pedido.valor_cuota %>
</p>

<p>
  <b>Fecha inicio pago:</b>
  <%= @pedido.fecha_inicio_pago %>
</p>

<p>
  <b>Fecha fin pago:</b>
  <%= @pedido.fecha_fin_pago %>
</p>


<%= link_to 'Edit', edit_pedido_path(@pedido) %> |
<%= link_to 'Back', pedidos_path %>
