<p id="notice"><%= notice %></p>

<p>
  <b>Estado:</b>
  <%= @cuotum.estado %>
</p>

<p>
  <b>Liquidacion:</b>
  <%= @cuotum.liquidacion %>
</p>


<%= link_to 'Edit', edit_cuotum_path(@cuotum) %> |
<%= link_to 'Back', cuota_path %>
