<h1>Notas de devolucion</h1>
<br/>

<table>
  <tr>
    <th>Fecha</th>
    <th>Numero</th>
    <th>Transito</th>
    <th>Cantidad</th>
  </tr>

<% @nota_devolucions.each do |nota_devolucion| %>
  <tr>
    <td><%= nota_devolucion.fecha %></td>
    <td><%= nota_devolucion.numero %></td>
    <td><%= nota_devolucion.transito.nombre %></td>
    <td><%= nota_devolucion.cantidad %></td>
    <td><%= link_to 'Mostrar', nota_devolucion %></td>
    <td><%= link_to 'Eliminar', nota_devolucion, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nueva Nota devolucion', new_nota_devolucion_path %>
